// Mixins Here
.blackBorder(@width, @style, @color) {
    border: @width @style @color;
}
.button {
    background: #1B1919;
    border-radius: 10px;
    width: 65%;
    padding: 15px;
    color:white;
    text-align: center;
    font-size: 20px;
    text-align: center;
    // parametric button desktop view
    .blackBorder(2px, solid, red); 
    
}

.button:hover {
    background: rgb(1, 204, 255);
    color: black;
    // mixin for button pink
    .mixinbackground();
}
